Task: {{ task.id }}
<br>

<ul>
  <li>Depth: <b> {{ task.depth }} </b></li>
  <li>X: <b> {{ task.x }} </b></li>
  <li>Y: <b> {{ task.y }} </b></li>
  <li>Task per thread: <b> {{ task.taskPerThread }} </b></li>
  <li>Color: 
    <div style="width: 50px; height; color: {{ task.make_rgb }}"> 
    </div></li>
  <li>Owner: <b> {{ task.user.username }} </b></li>
  <li>Status: <b> {{ task.status }} </b></li>
  <br>
  <li>Registration Time: <b> {{ task.registration_time }} </b></li>
  <li>Start Time: <b> {{ task.start_time }} </b></li>
  <li>Finish Time: <b> {{ task.finish_time }} </b></li>
</ul>
