{% extends "base_generic_rapid.html" %}

{% load staticfiles %}

{% if task.status == 'At work' %}
  <script type="text/javascript"> 
    var progress_bar = document.getElementById("progress_var");

    setTimeout(function() {
         $.ajax({ url: "localhost:8000/tasks/{{task.id}}/status/", success: function(data) {
              console.log(data.value);
              if (data.value == "-1")
              {
                document.location.href = "localhost:8000/tasks/{{task.id}}/finish/";
              }

              progress_bar.innerHTML=data.value;
         }, dataType: "text", complete: poll });
      }, 30);
  </script>
{% endif %}

{% block menu %}
<li><a href="/">Home</a></li>
<li><a href="/tasks">Lista zadań</a></li>
<li><a href="/tasks/new"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nowe zadanie</a></li>

{% endblock %}

{% block content %}
    <div class="row">       

			<div class="col-xs-4 col-xs-offset-4">
			
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading"><h4>Zadanie {{ task.id }}</h4></div>

				<!-- Table -->
				<table class="table">
					<tr><td>Głębokość</td><td>{{ task.depth }}</td></tr>
					<tr><td>X</td><td>{{ task.x }}</td></tr>
					<tr><td>Y</td><td>{{ task.y }}</td></tr>
					<tr><td>Zadań na wątek</td><td>{{ task.taskPerThread }}</td></tr>
					<tr><td>Kolor</td><td style="background-color: rgb( {{task.colorR}}, {{task.colorG}}, {{task.colorB}})"></td></tr>
					<tr><td>Właściciel</td><td>{{ task.user.username }}</td></tr>
					<tr><td>Status</td><td>{{ task.status }}</td></tr>
          {% if task.status == 'At work' %}
          <tr><td>Progress: <b> <span id="progress_var">0</span> </b> </td></tr>
          {% endif %}
					<tr><td>Data rejestracji</td><td>{{ task.registration_time }}</td></tr>
					<tr><td>Data rozpoczęcia</td><td>{{ task.start_time }}</td></tr>
					<tr><td>Data zakończenia</td><td>{{ task.finish_time }}</td></tr>
					<tr><td></td><td></td></tr>
				</table>		
				
				<div class="panel-footer">
					<a class="btn btn-primary" href="{% url 'index' %}">Powrót</a>
					{% if task.status != 'At work' %}
						<a class="btn btn-warning" href="{% url 'delete' task.id %}">Usuń</a>
					{% endif %}
          {% if task.status == 'Registered' %}
            <a class="btn btn-primary" href="{% url 'start' task.id %}">START!</a>
          {% endif %}
          <a class="btn btn-warning" href="{% url 'reset' task.id %}">Reset</a>
				</div>
        {% if task.status == 'Finished' %}
          <div class="panel-footer">
            <a href="{% static 'img/' %}{{ task.id }}.bmp">
            <img src="{% static 'img/' %}{{ task.id }}.bmp" width=200 height=200 /></a>
          </div>
        {% endif %}				
			</div>

			</div>
      
    </div>
{% endblock %}
