{% extends "base_generic_rapid.html" %}

{% block menu %}
<li><a href="/">Home</a></li>
<li><a href="/tasks">Lista zadań</a></li>
<li class="active"><a href="/tasks/new"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nowe zadanie</a></li>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">

		<form class="form" action="{% url 'create' %}" method="POST">
			{% csrf_token %}

			<div class="form-group">
			  <label for="depth">Głębokość:</label>
			  <input type="number" class="form-control" name="depth" id="depth" value="" />
			</div>
			<div class="form-group">
			  <label for="x">X:</label>
			  <input type="number" class="form-control" name="x" id="x" value="" />
			</div>
			<div class="form-group">
			  <label for="y">Y:</label>
			  <input type="number" class="form-control" name="y" id="y" value="" />
			</div>
			<div class="form-group">
			  <label for="taskPerThread">Zadań na wątek:</label>
			  <input type="number" class="form-control" name="taskPerThread" id="taskPerThread" value="" />
			</div>
			<div class="form-group">
			  <label for="color">Kolor:</label>
			  <input type="color" class="form-control" name="color" id="color" />
			</div>		
			

			<div class="col-xs-10 col-xs-offset-2">
				<button type="submit" class="btn btn-primary">Dodaj</button>
				<button type="reset" class="btn btn-default">Reset</button>			
			</div>
			
		</form>		
		
        </div>
    </div>
{% endblock %}